.header-banner {
  background: #Cf6766;
  opacity: 0.98;
  height: 60px; }
  .header-banner a {
    color: #30415D;
    text-decoration: none;
    border-bottom: 0px solid transparent;
    transition: all 600ms;
    display: inline-block; }

.socialTab {
  text-align: center;
  height: 50px;
  width: 100%;
  font-size: 32px; }
  .socialTab a {
    text-decoration: none;
    color: #031424; }
  .socialTab:hover {
    background-color: #031424; }
    .socialTab:hover a {
      color: #8EAEBD; }

header {
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  display: flex; }
  header .nav {
    display: flex; }
    header .nav table {
      width: 340px;
      margin-left: 20px;
      height: 65px;
      margin-top: -2px; }
      header .nav table td {
        width: 60px;
        text-align: center; }
        header .nav table td:hover {
          padding-top: 2px;
          border-bottom: 3px solid #30415D;
          border-top: 2px solid #30415D;
          background-color: #031424;
          transition: background 0.5s ease;
          -webkit-animation: all 5s ease; }
          header .nav table td:hover a {
            color: #8EAEBD; }
    header .nav .logo {
      margin-left: 25px;
      width: 70px;
      margin-top: 21px;
      font-weight: bold;
      white-space: normal;
      word-wrap: break-word;
      color: #031424; }
  header .socialNetwork {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-top: 15px;
    text-align: center; }
    header .socialNetwork img {
      margin: 0 auto;
      margin-top: -3px;
      margin-left: -3px;
      height: 36px;
      width: 36px; }
    header .socialNetwork:hover {
      background-color: #8EAEBD;
      transition: background 0.5s ease;
      -webkit-animation: all 5s ease; }
    header .socialNetwork h2 {
      font-size: 200%; }
    header .socialNetwork ul {
      display: flex; }
      header .socialNetwork ul li {
        margin: 0 20px;
        margin-top: 1px;
        display: inline-block; }
        header .socialNetwork ul li:hover {
          background-color: #8EAEBD;
          color: #Cf6766;
          transition: background 0.5s ease;
          -webkit-animation: all 5s ease; }
  header .github {
    margin-top: -10px;
    display: flex;
    text-align: right;
    align-items: center;
    padding-left: 100px; }
    header .github .logo {
      margin-top: 0px;
      color: #031424;
      width: 60px;
      padding: 10px;
      font-size: 120%; }
    header .github h2 {
      font-size: 200%;
      margin-top: 7px; }
    header .github ul {
      margin-top: 15px;
      display: flex;
      margin-left: -40px; }
      header .github ul li {
        margin: 0 20px;
        margin-top: -4px;
        display: inline-block; }
  header .social {
    margin-top: -10px;
    display: flex;
    align-items: center; }
    header .social .logo {
      margin-top: 2px;
      color: #031424;
      width: 60px;
      padding: 10px;
      font-size: 120%; }
    header .social h2 {
      font-size: 200%;
      margin-top: 7px; }
    header .social ul {
      margin-top: 15px;
      display: flex;
      margin-left: -50px; }
      header .social ul li {
        margin: 0 20px;
        margin-top: 2px;
        display: inline-block; }
      header .social ul li:nth-of-type(2) {
        margin-top: 0px;
        height: 30px; }

/*# sourceMappingURL=Nav.css.map */
