.header-banner
  background: #Cf6766
  opacity: .90
  height: 55px
  z-index: 2000

  position: fixed
  a
    color: #30415D
    text-decoration: none
    border-bottom: 0px solid transparent
    transition: all 600ms
    display: inline-block

.socialTab
  text-align: center
  height: 50px
  width: 100%
  font-size: 32px
  a
    text-decoration: none
    color: #031424
  &:hover
    background-color: #031424
    a
      color: #8EAEBD

header
  font-size: 14px
  font-weight: bold
  justify-content: space-between
  padding-left: 100px
  padding-right: 100px
  display: flex
  z-index: 1112
  background: #Cf6766
  position: fixed
  width: 89%

  .nav
    display: flex

    .logo
      margin-left: 25px
      width: 90px
      margin-top: 21px
      font-weight: bold
      white-space: normal
      word-wrap: break-word
      color: #031424

    .navButton
      width: 70px
      text-align: center
      height: 40px
      padding-top: 21px

      &:hover
        height: 38px
        padding-top: 19px
        border-bottom: 2px solid #8EAEBD
        border-top: 2px solid #8EAEBD
        background-color: #031424
        transition: background 0.5s ease
        -webkit-animation: all 5s ease
        a
          color: #8EAEBD


    table
      width: 340px
      margin-left: 20px
      height: 30px
      margin-top: -2px
      margin-bottom: -2px
      td
        width: 60px
        text-align: center
        height: 33px
        padding-top: 19px
        &:hover
          margin-top: -12px
          margin-bottom: -5px
          height: 30px
          border-bottom: 2px solid #8EAEBD
          border-top: 2px solid #8EAEBD

          background-color: #031424
          transition: background 0.5s ease
          -webkit-animation: all 5s ease
          a
            color: #8EAEBD




  .socialNetwork

    border: 1px solid black
    height: 30px
    width: 30px
    border-radius: 100%
    margin-top: 15px
    text-align: center
    z-index: 3333
    img
      margin-top: -3px
      margin-left: -3px
      height: 36px
      width: 36px
      z-index: 3334


    &:hover
      background-color: #8EAEBD
      transition: background 0.5s ease
      -webkit-animation: all 5s ease

    h2
      font-size: 200%


    ul
      display: flex

      li
        margin: 0 20px
        margin-top: 1px
        display: inline-block
        &:hover
          background-color: #8EAEBD
          color: #Cf6766
          transition: background 0.5s ease
          -webkit-animation: all 5s ease
  .github
    margin-top: -10px
    display: flex
    text-align: right
    align-items: center
    padding-left: 100px
    .logo
      margin-top: 0px
      color: #031424
      width: 60px
      padding: 10px
      font-size: 120%

    h2
      font-size: 200%
      margin-top: 7px

    ul
      margin-top: 15px
      display: flex
      margin-left: -40px

      li

        margin: 0 20px
        margin-top: -4px
        display: inline-block

  .social
    margin-top: -10px
    display: flex
    align-items: center

    .logo
      margin-top: 2px
      color: #031424
      width: 60px
      padding: 10px
      font-size: 120%

    h2
      font-size: 200%
      margin-top: 7px

    ul
      margin-top: 15px
      display: flex
      margin-left: -50px

      li
        margin: 0 20px
        margin-top: 2px
        display: inline-block

      li:nth-of-type(2)
        margin-top: 0px
        height: 30px



